<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>web ban hat dieu</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
</head>
<body>

  <header class="custom-nav">
    <div class="logo">BÁN.HẠT.ĐIỀU</div>
    <nav>
      <a href="/apartments">Buy</a>
      <a tnh:href="@{/new}">Sell</a>
      <a href="#">Lease</a>
      <a href="#">Our Agents</a>
      <a href="#">Request Valuation</a>
      <a href="/login.html" class="btn">Login</a>
    </nav>
  </header>

  <section class="hero">
    <h1>
        Đây là <span class="highlight">web bán hạt điều</span>
        của Trung. Đội ngũ dev fullstack của web này được trả công bằng 
        <span class="highlight">hạt điều chất lượng cao</span>, mong anh chủ có thể trả bằng tiền hoặc thứ gì khác chứ ăn hạt điều ngán quá...
      </h1>
      
    <a href="#">
      See hạtđiềus for Sale <span>→</span>
    </a>
  </section>
  <div class="hero-img">
    <img src="image/casheww.jpg" alt="Urban real estate">
  </div>
  <div class="scrolling-text">
    <span>
      <img src="image/cat-ezgif.com-rotate.gif" alt="icon" style="height: 24px; vertical-align: middle; margin-right: 10px;">
      Bán hạt điều chất lượng cao — đội dev ăn hạt điều đến ngán luôn — Mua 5 tặng 1 — Liên hệ ngay!
      <img src="image/cat-ezgif.com-rotate.gif" alt="icon" style="height: 24px; vertical-align: middle; margin-right: 10px;">
    </span>
  </div>
  
</body>
</html>
